.Shead{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.sht{
    font-size: 5rem;
    font-weight: 900;
    width: 1300px;
    margin-left: 250px;
}

.ps{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.pst{
    font-size: 2rem;
    width: 1000px;
}
